<header class="header">
  <div class="container header__org">
      <h1 class="header__title">Currency Exchange</h1>
      <div class="header__currencies-cont">
        <p *ngIf="euroToUAH$ | async as euroToUAH" class="header__currency">
          UAH for {{euroToUAH.query.from}} : {{euroToUAH.result}}
        </p>
        <p *ngIf="dollarToUAH$ | async as dollarToUAH" class="header__currency">
          UAH for {{dollarToUAH.query.from}} : {{dollarToUAH.result}}
        </p>
      </div>
  </div>
</header>