<div class="converter__exchange">
    <form class="converter__form" [formGroup]="currencyForm">
        <div class="converter__currency">
            <input formControlName="firstCurrencyAmount" type="number" class="converter__currency-amount" 
            #firstCurrencyAmount>
            <select formControlName="firstCurrency">
                <option value="UAH">UAH</option>
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
                <option value="KZT">KZT</option>
                <option value="CNY">CNY</option>
            </select>
        </div>
        <div class="converter__currency">
            <input formControlName="secondCurrencyAmount" type="number" class="converter__currency-amount" 
            #secondCurrencyAmount>
            <select formControlName="secondCurrency">
                <option value="UAH">UAH</option>
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
                <option value="KZT">KZT</option>
                <option value="CNY">CNY</option>
            </select>
        </div>
    </form>
</div>